.create-button {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
}

.create-button button {
    width: 100px;
    height: 50px;
}