header {
    background-color: var(--primary);
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom-style: solid;
    border-width: 10px;
    border-color: var(--accent);
}

.logo {
    background-color: var(--secondary);
    height: 80px;
    width: 400px;
    border-color: var(--accent);
    border-style: solid;
    border-top-style: none;
    border-width: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
}

.logo h1 {
    margin: 20px 0;
}

.user-account {
    background-color: var(--secondary);
    height: 80px;
    width: 200px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-color: var(--accent);
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 10px;
    border-bottom-left-radius: 50px;
}

main {
    position: relative;
    margin-top: 110px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background);
    column-gap: 10px;
}

.left-side, .right-side {
    background-color: var(--background2);
    padding: 0px 50px;
}

.left-side h2 {
    margin-bottom: 0;
}

.left-side button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: var(--primary);
}


.list-creator > div {
    margin: 10px 0px;
}

.list-creator .input {
    display: flex;
    column-gap: 15px;
}

.list-creator .input input {
    flex: 1;
    padding: 0 15px;
    border-radius: 15px;
}

.list-creator .input input:focus {
    outline: none;
}

.list-creator .output {
    display: flex;
    flex-direction: column;
}

.list-creator .output > div {
    height: 40px;
    margin: 5px 0;
    padding: 5px 10px 5px 20px;
    background-color: var(--secondary);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}

.list-creator .output > div span {
    margin-right: 5px;
}

.right-side h1 {
    text-align: center;
}

.right-side p {
    font-size: larger;
}

.right-side hr {
    color: var(--primary)
}

footer {
    background-color: var(--secondary);
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    border-color: var(--accent);
    border-top-style: solid;
    border-left-style: solid;
    border-width: 10px;
    border-top-left-radius: 50px;
}

footer button {
    width: 150px;
    height: 60px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--secondary);
    border-radius: 30px;
    border-color: var(--primary);
    border-width: 4px;
    color: var(--text);
    border-style: solid;
    transition: 0.2s;
}

button:hover {
    background-color: var(--primary); 
    color: var(--background2);
    transition: 0.2s;
}

button:active {
    background-color: var(--secondary);
    border-color: var(--primary);
    color: var(--primary);
}