<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="/css/general.css" defer>
      <link rel="stylesheet" href="/css/shared.css" defer>
      <link rel="stylesheet" href="/css/b-side.css" defer>
      <script th:src="@{/js/drag'n'drop.js?v=0.1}" defer></script>
      <script th:src="@{/js/b-side.js?v=0.1}" defer></script>
  </head>
  <body>
      <header>
        <div class="logo" style="text-align: center;">
          <h1>Ordered Shopping List</h1>
        </div>
        <div class="user-account">
          <h3>Account</h3>
          <button><i class="fa-solid fa-user"></i></button>
        </div>
      </header>
      <main>
        <div class="grid">
          <div class="left-side">
            <section class="instructions">
              <h2>Ingredients & recipes</h2>
              <p>
                More info about stuff and how to use the thing and all <br />
                Is this even working? I guess it does cool
              </p>
            </section>
            <div class="list-creator">
              <div class="input">
                <input placeholder="Insert text here">
                <button>+</button>
              </div>
              <div class="output">

              </div>
            </div>
          </div>
          <div class="right-side">
            <h1>The order</h1>
            <div class="ingredients-order">

            </div>
          </div>
        </div>
      </main>
      <footer>
        <a th:href="@{/}"> <button>Home</button>
      </footer>
  </body>
</html>