<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        
    </head>

    <body>
        <div th:fragment="ingredients-list" th:each="ingredient : ${ingredients}" th:id="'ingredient-' + ${ingredient.id}">
            <span th:text="${ingredient.name}"></span>
            &#8226;
            <span th:text="${ingredient.count}"></span>
            <button th:onclick="incrementCurrentIngredient([[${ingredient.name}]])">+</button>
            <button th:onclick="decrementCurrentIngredient([[${ingredient.name}]])">-</button>
        </div>
        
        <div th:fragment="shopping-list" th:each="ingredient : ${ingredients}">
            <span th:text="${ingredient.name}"></span>
            &#8226;
            <span th:text="${ingredient.count}"></span>
        </div>
    </body>
</html>