<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <link rel="stylesheet" href="/css/general.css">
      <link rel="stylesheet" href="/css/shared.css">
      <link rel="stylesheet" href="/css/index.css">
      <script th:src="@{/js/index.js}" defer></script>
  </head>
  <body>
      <header>
        <div class="logo" style="text-align: center;">
          <h1>Some logo</h1>
        </div>
        <div class="user-account">
          <p>Some text</p>
          <button>Acc</button>
        </div>
      </header>
      <main>
        <div class="create-button">
          <button>Create</button>
        </div>
        <div class="grid">
          <div class="left-side">
            <section class="instructions">
              <h2>Some test text and stuff</h2>
              <p>
                More info about stuff and how to use the thing and all <br />
                Is this even working? I guess it does cool
              </p>
            </section>
            <div class="list-creator">
              <div class="input">
                <input placeholder="Insert text here">
                <button>+</button>
              </div>
              <div class="output">
                
              </div>
            </div>
          </div>
          <div class="right-side">
            <h1>Shopping list <button> Export </button> </h1>
            <div class="shopping-list">

            </div>
          </div>
        </div>
      </main>
      <footer>
        <a th:href="@{/settings}"> <button>Recipe</button>
        <a th:href="@{/settings}"> <button>Order</button>
      </footer>
  </body>
</html>